<div class="mat-elevation-z8">

  <div class="button-container-mes">
    <mat-form-field class="" appearance="outline">
      <mat-select [value]="selectedPeriodo">
        @for (periodo of periodos; track periodo) {
        <mat-option [value]="periodo.value">{{periodo.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="container-button-despesa">
      <div *ngFor="let despesa of despesas">
        <button class="button-despesa" [class.selected]="despesa.id_tipo_despesa === selectedId" mat-raised-button (click)="onButtonClick(despesa.id_tipo_despesa, despesa.nome)">{{despesa.nome}}</button>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">


    <ng-container matColumnDef="init">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td class="init-and-final" mat-cell *matCellDef="let element">
      </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element">
        <div class="card-table">
          {{element.response?.data_transacao | date:'dd/MM/yyyy'}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let element">
        <div class="card-table">
          {{element.response?.descricao}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="cartao">
      <th mat-header-cell *matHeaderCellDef> Cartão </th>
      <td mat-cell *matCellDef="let element">
        <div class="card-table">
          {{element.response?.cartao}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element">
        <div class="card-table">
          {{element.response?.categoria}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element">
        <div class="card-table">
          {{element.response?.valor}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="tipoPagamento">
      <th mat-header-cell *matHeaderCellDef> Tipo Pagamento </th>
      <td mat-cell *matCellDef="let element">
        <div class="card-table">
          {{element.response?.tipo_pagamento}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="despesa">
      <th mat-header-cell *matHeaderCellDef> Despesa </th>
      <td mat-cell *matCellDef="let element">
        <div class="card-table">
          {{element.response?.tipo_despesa}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="contato">
      <th mat-header-cell *matHeaderCellDef> Contato </th>
      <td mat-cell *matCellDef="let element">
        <div class="card-table">
          {{element.response?.contato}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="pago">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-pago">Pago?</th>
      <td mat-cell *matCellDef="let element" class="pago-check">
        <div class="card-table check">
          <mat-icon *ngIf="isPago(element?.response.indicador_pago)">check</mat-icon>
        </div>
        <!-- <div class="checkbox-container">
          <mat-checkbox [checked]="isPago(element.response.indicador_pago)" color="primary" mat-fab class="example-margin"></mat-checkbox>
        </div> --> 
      </td>
    </ng-container>
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td class="td-pago" mat-cell *matCellDef="let row">
        <div class="button-container">
          <div class="button-container-item">
            <button color="primary" class="button-acoes" mat-mini-fab
              aria-label="Example icon button with a filter list icon">
              <mat-icon>create</mat-icon>
            </button>
          </div>
          <div class="button-container-item">
            <button color="primary" class="button-acoes" mat-mini-fab aria-label="Example icon button with a home icon">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>

      </td>
    </ng-container>

    <ng-container matColumnDef="final">
      <th mat-header-cell *matHeaderCellDef></th>
      <td class="init-and-final" mat-cell *matCellDef="let element">
      </td>
    </ng-container>
    <!-- 
 
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field class="data-form-field" appearance="outline">
          <input class="date-trasacao" matInput [matDatepicker]="picker" [(ngModel)]="row.response.data_transacao">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descricao</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <input [(ngModel)]="row.response.descricao" matInput>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="cartao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cartão</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field class="cartao-form-field" appearance="outline">
          <mat-label>Cartão</mat-label>
          <mat-select>
            @for (food of foods; track food) {
            <mat-option [value]="food.value">{{row.response.descricao}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field class="categoria-form-field" appearance="outline">
          <mat-label>{{row.response.nome_categoria}}</mat-label>
          <mat-select>
            @for (food of foods; track food) {
            <mat-option [(ngModel)]="row.response.nome_categoria"  [value]="food.value">{{food.viewValue}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field appearance="outline" class="valor-form-field">
          <mat-label>Favorite food</mat-label>
          <input [(ngModel)]="row.response.valor"  matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="tipoPagamento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Pagamento</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field class="tipo-pagamento-form-field" appearance="outline">
          <mat-label>tipo pagamento</mat-label>
          <mat-select>
            @for (food of foods; track food) {
            <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="despesa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Despesa</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field class="despesa-form-field" appearance="outline">
          <mat-label>tipo pagamento</mat-label>
          <mat-select>
            @for (food of foods; track food) {
            <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="contato">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Contato</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field class="contato-form-field" appearance="outline">
          <mat-label>tipo pagamento</mat-label>
          <mat-select>
            @for (food of foods; track food) {
            <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="pago">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pago?</th>
      <td mat-cell *matCellDef="let row" class="pago-check">
        <div class="checkbox-container">
          <mat-checkbox color="primary" mat-fab class="example-margin"></mat-checkbox>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <div class="button-container">
          <div class="button-container-item">
            <button color="primary" mat-mini-fab aria-label="Example icon button with a filter list icon">
              <mat-icon>check</mat-icon>
            </button>
          </div>
          <div class="button-container-item">
            <button color="primary" mat-mini-fab aria-label="Example icon button with a home icon">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </div>

      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="container-transacao">
    <button mat-raised-button class="button-transacao">Nova transação <mat-icon
        class="icon-transacao">add</mat-icon></button>
  </div>
  <mat-paginator #paginator showFirstLastButtons [length]="transacoes.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page">
  </mat-paginator>
</div>