.full-width-table {
  width: 100%;
}


.date-trasacao{
  border-radius: 30px;
}

th , td {
  border-bottom: none;
}

.td-pago{
  width: 106px;
}

.data-form-field {
  width: 140px !important;
}

.card-table{
  border-radius: 6px;
  padding: 11px;
  background-color: #333333;
}

.card-table.check{
  border-radius: 12px;
  padding: 6px;
  color: #9E81FF;
  width: 24px;
  height: 26px;
}

/* Aumenta a especificidade ao adicionar uma classe ao seletor */
.mat-elevation-z8 {
  background: none !important;
  box-shadow: none !important;
}

.checkbox-container {
  height: 30px;
  display: flex;
  transform: scale(1.8);
  align-items: center; /* Centraliza o checkbox verticalmente */
}

.data-form-field {
  background: none !important;
}

.full-width-table {
  background: none !important;
  margin-bottom: 5px;
}

.cartao-form-field{
  width: 120px !important;
}

.categoria-form-field{
  width: 120px !important;
}

.valor-form-field{
  width: 120px !important;
}

.tipo-pagamento-form-field{
  width: 180px !important;
}

.despesa-form-field{
  width: 120px !important;
}

.contato-form-field{
  width: 120px !important;
}

.button-acoes {
  width: 36px !important;
  height: 36px !important;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 10px 8px 10px 8px;
}


.mat-mdc-row:hover{
  background-color: #1C1C1C;
}

mat-paginator{
  background: none !important;
  padding: 0 68px;
}

mat-divider {
  padding: 20px 0;
}

.buttom-tipos{
  height: 39px;
}

.button-container-mes {
  display: flex;
  justify-content: space-between;
  padding: 120px 68px 0;
}

.expense-types {
  display: flex;
  gap: 10px;
}

.pago-check{
  width: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 90px;
  gap: 16px;
}

.icon-transacao{
  color: white;
  background-color: #754bff;
  border-radius: 10px;
}

.button-transacao{
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: center;
  gap: 12px;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 68px;
}

.container-transacao {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: start;
  width: 100%;
  height: 39px;
  align-items: center;
  margin-bottom: 20px;

}

.init-and-final{
  width: 60px;
}

.th-pago{
  width: 80px;
}

.selected {
  background-color: #754bff;
}

.container-button-despesa{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-despesa{
  height: 39px;
}

// .mat-form-field {
//   background-color: #333333;
//   color: white !important;
// }

// .mat-form-field .mat-input-element,
// .mat-form-field .mat-select-value,
// .mat-form-field .mat-select-arrow {
//   color: white !important;
// }

// .mat-form-field .mat-form-field-underline {
//   background-color: white !important;
// }

// .mat-form-field .mat-form-field-ripple {
//   background-color: white !important;
// }

// .mat-form-field .mat-option-text {
//   color: white !important;
// }

// .mat-form-field-appearance-fill .mat-form-field-flex::before,
// .mat-form-field-appearance-fill .mat-form-field-flex::after {
//   background-color: white !important;
// }

// .mat-form-field-label {
//   color: white !important;
// }